* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'sans-serif','Arial';
  background-image: url('/images/custbgimg.jpg');
  background-size: cover; 
  background-position: center; 
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline;
    margin-right: 20px;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.main {
    padding: 20px;
    background-size: cover;
}
.login-link {
    display: inline-block;
    background-color:#007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 9px;
    text-decoration: none;
}
.login-link:hover {
    background-color:  rgb(128, 128, 255);
}
.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  background: #0c111b;
  z-index: 9;
  display: flex;
  align-items: center;
}
.brand-logo {
  height: 70px;
}
.right-container {
  display: block;
  margin-left: auto;
}
.main{
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content:center;
  color:white;
}
main {
            position: relative;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-family:arial;
            font-size:20px;
        }
 @keyframes textAnimation {
            0% {
                opacity: 0;
                transform: translateY(-100px);
                color: transparent;
            }
            50% {
                opacity: 1;
                transform: translateY(0);
                color: white;
            }
            90% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
        h1 {
            font-size: 60px;
            animation: textAnimation 4s ease infinite;
            transform: translateY(-100px);
            opacity: 0;
        }
        
 