<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/aboutStyle.css}">
</head>
<body>
<header>
<nav class="navbar">
<img src="images/tunehublogo.png" class="brand-logo" alt="logo" />
    <div class="right-container">
        <a href="/" class="login-link">Home</a>
        <a href="login" class="login-link">login</a>
    </div>
</nav>
</header>
<main>
<h1>Welcome to Tunehub</h1>
<div class="main">
<p>TuneHub stands as a dynamic music web application, granting users an unlimited auditory journey, particularly catering to premium subscribers who enjoy unrestricted access to an extensive library of songs. For non-premium users, TuneHub offers a taste of its musical offerings by allowing them to listen to up to two songs. The platform's versatility extends beyond mere listening, empowering users to curate their musical experience through the creation of personalized playlists. TuneHub thus seeks to harmonize the music streaming experience by providing a range of options that cater to both casual listeners and dedicated enthusiasts.</p>
</div>
</main>
</body>
</html>