<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/adminHomeStyle.css}">
<title>Insert title here</title>
</head>
<body>
<header>
<nav class="navbar">
<img src="images/tunehublogo.png" class="brand-logo" alt="logo" />
    <div class="right-container">
        <a href="/" class="login-link">Home</a>
        <a href="logout" class="login-link">logout</a>
    </div>
</nav>
</header>
<div class="main">
<h1>Admin home page</h1>
<a href="newSong">Add a new song</a>
<br>
<a href="viewSongs">View all songs</a><br>
<a href="createPlaylist">Create a Playlist</a><br>
<a href="viewPlaylists">View all Playlist</a>
</div>
</body>
</html>