<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer Home Page</title>
<link rel="stylesheet" th:href="@{/css/customerHomeStyle.css}">
</head>
<body>

	<div class="main">
		<h1>Customer home page</h1>
		<script th:if="${!isPremium}">
    function limitPlayback() {
        var audioElements = document.querySelectorAll('audio');
        var songsPlayed = 0;
        audioElements.forEach(function(audioElement) {
            audioElement.addEventListener('play', function() {
                songsPlayed++;
                if (songsPlayed > 2) {
                    audioElement.pause(); // Pause playback after playing two songs
                    alert("Upgrade to premium to listen to unlimited songs!");
                }
            });
        });
    }
    window.onload = function() {
        limitPlayback();
    };
</script>
		<div th:unless="${isPremium}" class="non-premium">
		<header>
<nav class="navbar">
<img src="images/tunehublogo.png" class="brand-logo" alt="logo" />
    <div class="right-container">
        <a href="/" class="login-link">Home</a>
        <a href="customerHome" class="login-link">Customer Home</a>
        <a href="logout" class="login-link">logout</a>
        <a href="pay" class="login-link">Get Premium</a>
    </div>
</nav>
</header>
			
			<table border>
				<thead>
					<tr>
						<th>Name</th>
						<th>Artists</th>
						<th>Genre</th>
						<th>Play</th>
					</tr>
				</thead>
				<tr th:each="song : ${songs}">
                        <td th:text="${song.name}"></td>
                        <td th:text="${song.artist}"></td>
                        <td th:text="${song.genre}"></td>
                        <td>
                            <audio controls>
                                <source th:src="${song.link}" type="audio/mpeg">
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>

		<div th:if="${isPremium}" class="premium">
		<header>
<nav class="navbar">
<img src="images/tunehublogo.png" class="brand-logo" alt="logo" />
    <div class="right-container">
        <a href="/" class="login-link">Home</a>
        <a href="logout" class="login-link">logout</a>
    </div>
</nav>
</header>
			<table border>
				<thead>
					<tr>
						<th>Name</th>
						<th>Artists</th>
						<th>Genre</th>
						<th>Play</th>
					</tr>
				</thead>
				<tbody>
					<!-- for displaying the dynamic data we are making use of thymeleaf-->

					<tr th:each="song:${songs}">
						<td th:text="${song.name}"></td>
						<td th:text="${song.artist}"></td>
						<td th:text="${song.genre}"></td>
						<!-- If we use utext instead of text then the iframe code will not be visible-->

						<td><audio controls>
								<source th:src="${song.link}" type="audio/mpeg">
							</audio></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>