<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneHub</title>
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
   
</head>
<body>
<header>
    <nav class="navbar">
        <img src="images/tunehublogo.png" class="brand-logo" alt="logo" />
        <div class="right-container">
            <a href="login" class="login-link">Login</a>
            <a href="registration" class="login-link">Register</a>
            <a href="about" class="login-link">About</a>
        </div>
    </nav>
</header>
<main>
    <h1>Music can change the world</h1>
</main>

</body>
</html>
